@import url("https://fonts.google.com/specimen/Red+Hat+Display");
body {
  background: url(../images/pattern-background-desktop.svg) no-repeat fixed top;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
}

p {
  font-size: 16px;
}

h3 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.mainContainer {
  text-align: center;
  width: 35vw;
  margin: 15vh auto;
  border-radius: 16px;
  /* padding: 20px */
  box-shadow: 0px 15px 15px rgba(114, 128, 167, 0.3);
}
@media (max-width: 1440px) {
  .mainContainer {
    width: 28vw;
  }
}
@media (max-width: 1024px) {
  .mainContainer {
    width: 40vw;
  }
}
@media (max-width: 768px) {
  .mainContainer {
    width: 90vw;
    margin: 10vh auto;
  }
}
@media (max-width: 280px) {
  .mainContainer {
    margin: 5vh auto;
  }
}

.itemContainer:first-of-type {
  color: hsl(224, 23%, 55%);
}
.itemContainer:first-of-type p {
  font-size: 14px;
  margin: 0 20px;
  padding: 0 20px;
  line-height: 1.75;
  font-weight: 500;
}

button {
  margin: 10px 20px;
  width: 90%;
}

.flexContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 16px;
  margin: 15px;
}
.flexContainer .itemContainer:nth-of-type(2) {
  padding-left: 0;
}
@media (max-width: 280px) {
  .flexContainer {
    flex-direction: column;
  }
  .flexContainer .itemContainer.end {
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .flexContainer .itemContainer {
    padding: 0 5px;
  }
}

.itemContainer:nth-of-type(2) {
  text-align: center;
}
.itemContainer:nth-of-type(2) p:first-of-type {
  color: hsl(223, 47%, 23%);
  font-size: 14px;
  font-weight: 900;
}
.itemContainer:nth-of-type(2) p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  transform: scale(1.25, 0.95);
}
.itemContainer:nth-of-type(2) p {
  margin: 5px;
}

.contentContainer {
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.itemContainer {
  /* border: 1px solid green */
  /* margin: 10px */
  padding: 5px 15px;
}

.end {
  margin-left: auto;
  padding-right: 15px;
  font-size: 12px;
  font-weight: 900;
}
.end a:hover {
  color: hsl(245, 75%, 75%);
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  text-transform: uppercase;
}

#topImageContainer {
  margin-bottom: -3px;
}

#topImageContainer img {
  border-radius: 16px 16px 0 0;
  width: 100%;
}

#btnProcToPayment {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 15px 15px hsl(225, 100%, 94%);
}
#btnProcToPayment:hover {
  background-color: hsl(245, 75%, 75%);
}

#btnCancel {
  background-color: white;
  border: none;
  color: hsl(224, 23%, 55%);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
#btnCancel:hover {
  color: black;
}

button {
  margin: 15px auto;
}

/*# sourceMappingURL=styles.css.map */
